.creacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  width: 688px;
  height: 390px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1.5px solid #572EE5;
}

.camara {
  position: absolute;
  background: url(../img/camara.svg) no-repeat;
  background-size: 100%;
  width: 123px;
  height: 163px;
  left: 8%;
  top: 28%;
}

.luz_camara {
  display: none;
  position: absolute;
  background: url(../img/element-luz-camara.svg) no-repeat;
  background-size: 100%;
  width: 91px;
  height: 151px;
  left: 17%;
  top: 29%;
  -webkit-animation-name: parpadeo;
          animation-name: parpadeo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.pelicula {
  position: absolute;
  background: url(../img/pelicula.svg) no-repeat;
  background-size: 100%;
  width: 123px;
  height: 163px;
  left: 80%;
  top: 68%;
}

.paso_a_paso,
.estado {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  padding-left: 8%;
}

.uno,
.dos,
.tres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #572EE5;
  background: #FFFFFF;
  border: 1.5px solid #572EE5;
}

.linea_crear {
  margin-top: 30px;
  background: #572EE5;
  width: 55%;
  height: 7px;
}

.boton_crear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  color: #572EE5;
  width: 127px;
  height: 50px;
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 13px;
  letter-spacing: 0;
}

.boton_crear:hover {
  border: 1px solid #572EE5;
  color: #FFFFFF;
  background: #572EE5;
}

.texto_crear {
  font-family: "Montserrat";
  color: #572EE5;
  text-align: center;
  line-height: 35px;
  width: 60%;
  margin: auto;
}

.texto_crear h3 {
  font-family: "Roboto";
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 29px;
}

.contenedor_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video {
  display: none;
  margin: auto;
}

video,
.previsualizar {
  position: absolute;
  width: 480px;
  height: 320px;
}

.reloj {
  padding: 35px 0 0 100px;
  font-family: "Montserrat";
  font-size: 15px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  font-weight: 700;
}

.overlay_previsualizar {
  display: none;
  width: 480px;
  height: 320px;
  position: absolute;
  background: #572EE5;
  opacity: 0.6;
  z-index: 2;
  margin: auto;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 15px;
  background-image: url(../img/loader.svg);
}

.gifos, .icono_gifos, .sin_gifos, .texto_sin_gifos {
  margin-left: auto;
  margin-right: auto;
  color: #572EE5;
}

.icono_gifos {
  background: url(../img/icon-mis-gifos.svg) no-repeat;
  width: 28px;
  height: 21px;
}

.texto_gifos,
.texto_favoritos {
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.sin_gifos {
  margin-top: 110px;
  background: url(../img/icon-mis-gifos-sin-contenido.svg) no-repeat;
  width: 150px;
  height: 151px;
}

.texto_sin_gifos {
  font-family: "Montserrat";
  font-size: 22px;
  color: #50E3C2;
  text-align: center;
  line-height: 33px;
  font-weight: 700;
  width: 70%;
  margin-bottom: 137px;
}

.mis_gifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=crear.css.map */