


.contenido {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #FFFFFF;
	//flex: 1;
	//min-height: 632px;
    //border: 2px solid red;
}
.texto_gifos {
	color: #50E3C2;
	background-color: var(--background);
}
.busqueda {
	//padding: 10px 10px 10px 60px;
	background: #FFFFFF;
	border: 1px solid #572EE5;
	border-radius: 27px;
	background-position: 95% 55%;
    width: 551px;
}

.input_busqueda {
	height: 30px;
	padding-left: 37px;
	font-size: 16px;
	color: #9CAFC3;
	background: var(--icono-busqueda) right no-repeat;
	background-size: 20px;
	outline: 0;
	width: 96%;
	opacity: 0.5;
    //border: 2px solid red;
}

.input_busqueda:focus, select:focus {
	background-position: 1% 55%;
}

.contenedor_sugerencias {
	padding-left: 9px;
	font-size: 16px;
	color: #9CAFC3;
	width: 100%;
	opacity: 0.5;
}
.busqueda, .contenedor_sugerencias {
    width: 551px;
}

.texto_busqueda {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: var(--color-texto);
	text-align: center;
	font-size: 35px;
	//padding-top: 60px;
}

.contenedor_busqueda,
.mis_favoritos ,
.mis_gifos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.trending {
	padding-top: 31px;
	width: 53%;
	//margin: auto;
}

.trending_texto {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #572EE5;
	text-align: center;
	line-height: 25px;
	margin-bottom: -15px;
}
.reactions {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #572EE5;
	text-align: center;
	line-height: 25px;
}