.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}
.dark{
   //display: none;
   background-color: #37383C;
}

.crearHoverImagen{
    background: url(../img/CTA-crear-gifo-modo-noc.svg);
  }
.emboltura{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.em-1{
   // border: 2px solid blue;
    width: 64.9%;
    margin: auto;
    font-family: Montserrat-Bold,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #572EE5;
    text-align: center;
    line-height: 50px;
    margin-bottom: 1.6%;
}
.verde{/*word in green*/
    color: #5BE3C5;
}
.em-2{
    width: 27.7%;
    height: 12.5%;
    margin: auto;
}
.em-3{
    position: relative;
    width: 38.3%;
    height: 3.3%;
    margin: auto;
    margin-bottom: 4.8%;
}
#br-mov{
    display: none;
}
.em-4{
    width: 6.3%;
    height: 1.6%;
    margin: auto;
    font-family: Montserrat-Bold,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    margin-bottom: 0.5%;
}
.em-5{
    width: 27.9%;
    height: 1.6%;
    font-family: Montserrat-Medium -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    margin: auto;
    margin-bottom: 6.2%;
}
#line{
    width:23.5% ;
    height: 0,1px;
    opacity: 0.5;
    border: 1px solid #9CAFC3;
    align-self: center;
    display: none;
}
#palabra{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    align-self: center;
    width: 38.2%;
    height: 1.2%;
    margin-top: 3.2%;
    display: none;
}

#resultados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2.3%;
   
}

#card{
    width: 18.1%;
    height: 7.9%;
    margin-right: 2%;
    margin-bottom: 1.1%;
    align-items: center;
    #iframe{
        width: 100%;
        height: auto;
    }

}

#card:hover{
    opacity: 0.7;
    background-color: rgba(87,46,229,0.90);
}

/*qudo armando la barrabde busqueda bien mela*/
