.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.emboltura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.em-1 {
  width: 64.9%;
  margin: auto;
  font-family: Montserrat-Bold,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #572EE5;
  text-align: center;
  line-height: 50px;
  margin-bottom: 1.6%;
}

.verde {
  /*word in green*/
  color: #5BE3C5;
}

.em-2 {
  width: 27.7%;
  height: 12.5%;
  margin: auto;
}

.em-3 {
  position: relative;
  width: 38.3%;
  height: 3.3%;
  margin: auto;
  margin-bottom: 4.8%;
}

#br-mov {
  display: none;
}

.em-4 {
  width: 6.3%;
  height: 1.6%;
  margin: auto;
  font-family: Montserrat-Bold,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-bottom: 0.5%;
}

.em-5 {
  width: 27.9%;
  height: 1.6%;
  font-family: Montserrat-Medium -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin: auto;
  margin-bottom: 6.2%;
}

#line {
  width: 23.5%;
  height: 0,1px;
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
}

#palabra {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 38.2%;
  height: 1.2%;
  margin-top: 3.2%;
  display: none;
}

#resultados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.3%;
}

#card {
  width: 18.1%;
  height: 7.9%;
  margin-right: 2%;
  margin-bottom: 1.1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card #iframe {
  width: 100%;
  height: auto;
}

#card:hover {
  opacity: 0.7;
  background-color: rgba(87, 46, 229, 0.9);
}

#verMas {
  width: 8.8%;
  height: 1.3%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 3.1%;
  display: none;
}

#verMas img {
  width: 100%;
  height: auto;
}

/*qudo armando la barrabde busqueda bien mela*/
/*# sourceMappingURL=section_main.css.map */