*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    margin: auto;
    //border: 4px solid black;
   
}

@import "header.scss";
@import "section_main.scss";
@import "footer.scss";
@import "media-queries.scss";
@import "search.scss";