*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    
    margin: auto;
    //border: 4px solid black;
    &.dark{
        background: #37383C;
       
    }
}

@import "../css/header.scss";
@import "../css/section_main.scss";
@import "../css/footer.scss";
@import "../css/media-queries.scss";
@import "../css/search.scss";
@import "../css/crear.scss";
@import "../css/section_slider.scss";