@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  margin: auto;
}

body.dark {
  background: #37383C;
}

.menu {
  display: none;
}

.burger-menu {
  margin: 3px 40px 0 80px;
}

.burger-menu .menu-check {
  display: none;
}

.burger-menu .menu-open {
  padding: 30px 40px;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.burger-menu .menu-open span {
  width: 40px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.5px;
  margin-left: -20px;
  background-color: rgba(87, 46, 229, 0.9);
  font-weight: bold;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-menu .menu-open span.burger1 {
  -webkit-transform: translate3d(0px, -10px, 0px);
          transform: translate3d(0px, -10px, 0px);
}

.burger-menu .menu-open span.burger2 {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.burger-menu .menu-open span.burger3 {
  -webkit-transform: translate3d(0px, 10px, 0px);
          transform: translate3d(0px, 10px, 0px);
}

.burger-menu .menu-check:checked + .menu-open span {
  background-color: rgba(87, 46, 229, 0.9);
}

.burger-menu .menu-check:checked + .menu-open span.burger1 {
  -webkit-transform: translateY(-1px) rotate(45deg);
          transform: translateY(-1px) rotate(45deg);
  width: 30px;
}

.burger-menu .menu-check:checked + .menu-open span.burger2 {
  opacity: 0;
}

.burger-menu .menu-check:checked + .menu-open span.burger3 {
  -webkit-transform: translateY(0px) rotate(-48deg);
          transform: translateY(0px) rotate(-48deg);
  width: 30px;
}

.burger-menu .menu-options {
  background-color: rgba(87, 46, 229, 0.9);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 0;
  top: 16%;
  left: 0;
  height: 30%;
  padding: 100px 0px 50px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-menu .menu-options li {
  color: #fff;
  text-align: center;
  list-style: none;
  display: block;
  font-weight: normal;
}

.burger-menu .menu-options li a {
  text-decoration: none;
  color: #fff;
  line-height: 4em;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger-menu .menu-options li a:hover {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #00F3BB;
          text-decoration-color: #00F3BB;
}

.burger-menu .menu-check:checked ~ .menu-options {
  width: 100%;
  opacity: 1;
}

.header-flex {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 5px solid #572EE5;
}

.burguer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

ul li {
  list-style: none;
  list-style-type: none;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  font-family: Montserrat-Bold,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  font-weight: bold;
  margin-right: 25px;
}

body.dark ul li a {
  background: #fff;
}

#logo_dk {
  margin-right: 30%;
  margin-top: 0.8%;
  margin-left: 10.8%;
}

#logo_dk img {
  width: 100%;
  height: auto;
}

.logo-mobile, .logo-desktop-dark, .logo-mobile-dark {
  display: none;
}

.crearg {
  margin: 1.5% 10.8% 1.2% 4.1%;
}

.nav-desktop li a:hover {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #00F3BB;
          text-decoration-color: #00F3BB;
}

.crear-gifo-hover, #crear-gifo-n, #crear-gifo-hover-n {
  display: none;
}

.crearg:hover .crear-gifo-hover {
  display: block;
}

.crearg:hover .crear-gifo {
  display: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.dark {
  background-color: #37383C;
}

.crearHoverImagen {
  background: url(../img/CTA-crear-gifo-modo-noc.svg);
}

.emboltura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.em-1 {
  width: 64.9%;
  margin: auto;
  font-family: Montserrat-Bold,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #572EE5;
  text-align: center;
  line-height: 50px;
  margin-bottom: 1.6%;
}

.verde {
  /*word in green*/
  color: #5BE3C5;
}

.em-2 {
  width: 27.7%;
  height: 12.5%;
  margin: auto;
}

.em-3 {
  position: relative;
  width: 38.3%;
  height: 3.3%;
  margin: auto;
  margin-bottom: 4.8%;
}

#br-mov {
  display: none;
}

.em-4 {
  width: 6.3%;
  height: 1.6%;
  margin: auto;
  font-family: Montserrat-Bold,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-bottom: 0.5%;
}

.em-5 {
  width: 27.9%;
  height: 1.6%;
  font-family: Montserrat-Medium -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin: auto;
  margin-bottom: 6.2%;
}

#line {
  width: 23.5%;
  height: 0,1px;
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
}

#palabra {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 38.2%;
  height: 1.2%;
  margin-top: 3.2%;
  display: none;
}

#resultados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.3%;
}

#card {
  width: 18.1%;
  height: 7.9%;
  margin-right: 2%;
  margin-bottom: 1.1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card #iframe {
  width: 100%;
  height: auto;
}

#card:hover {
  opacity: 0.7;
  background-color: rgba(87, 46, 229, 0.9);
}

/*qudo armando la barrabde busqueda bien mela*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 7.6%;
  padding: 2%;
  border-bottom: 5px solid #572EE5;
}

.redes {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.rd-1 {
  width: 30%;
  height: 1%;
  margin-left: 10.8%;
  font-family: Roboto-Regular,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
}

.rd-2 {
  width: 1.4%;
  height: 1.3%;
  margin-right: 6%;
}

.rd-2 img {
  width: 100%;
  height: auto;
}

.rd-3 {
  width: 1.3%;
  height: 1.1%;
  margin-right: 6%;
}

.rd-3 img {
  width: 100%;
  height: auto;
}

.rd-4 {
  width: 1.4%;
  height: 1.3%;
  margin-right: 6%;
}

.rd-4 img {
  width: 100%;
  height: auto;
}

.allR {
  width: 50%;
  font-family: Roboto-Regular,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
}

.allR p {
  margin-left: 51%;
}

@media only screen and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .crearg {
    display: none;
  }
  .menu {
    display: block;
  }
  .logo-desktop {
    display: none;
  }
  .logo-mobile {
    display: block;
    position: relative;
    margin-right: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .em-1 {
    width: 286px;
    height: 99px;
    margin: auto;
    font-family: Montserrat-Bold,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #572EE5;
    text-align: center;
    line-height: 33px;
    margin-bottom: 1.6%;
  }
  .em-2 {
    width: 273px;
    height: 130px;
    margin: auto;
  }
  .em-2 img {
    width: 100%;
    height: auto;
  }
  .em-3 {
    position: relative;
    width: 280px;
    height: 50px;
    margin: auto;
    margin-bottom: 4.8%;
  }
  .em-3 #lupa {
    top: 8px;
  }
  .em-4 {
    width: 236px;
    height: 25px;
  }
  #br-mov {
    display: block;
  }
  .em-5 {
    width: 225px;
  }
}

.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.texto_gifos {
  color: #50E3C2;
  background-color: var(--background);
}

.busqueda {
  padding: 10px 10px 10px 60px;
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  background-position: 95% 55%;
  width: 551px;
}

.input_busqueda {
  height: 30px;
  padding-left: 37px;
  font-size: 16px;
  color: #9CAFC3;
  background: var(--icono-busqueda) right no-repeat;
  background-size: 20px;
  outline: 0;
  width: 96%;
  opacity: 0.5;
}

.input_busqueda:focus, select:focus {
  background-position: 1% 55%;
}

.contenedor_sugerencias {
  padding-left: 9px;
  font-size: 16px;
  color: #9CAFC3;
  width: 100%;
  opacity: 0.5;
}

.busqueda, .contenedor_sugerencias {
  width: 551px;
}

.texto_busqueda {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--color-texto);
  text-align: center;
  font-size: 35px;
  padding-top: 60px;
}

.contenedor_busqueda,
.mis_favoritos,
.mis_gifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trending {
  padding-top: 31px;
  width: 53%;
}

.trending_texto {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-bottom: -15px;
}

.reactions {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

.crearGif {
  padding-top: 12%;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .crearGif {
    padding-top: 10%;
  }
}

@media screen and (min-width: 1530px) {
  .crearGif {
    padding-top: 9%;
  }
}

.crearGif__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crearGif__camara {
  max-width: 25%;
  position: relative;
}

.crearGif__camara .path {
  position: relative;
  top: -1rem;
}

.crearGif__celluloidFilm {
  max-width: 25%;
  height: 20rem;
  padding-top: 18rem;
  padding-left: 1.5rem;
}

.crearGif__recordingZone {
  padding: 2rem;
  width: 50%;
  height: 20rem;
  border: 1px solid #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body.darkMode .crearGif__recordingZone {
  border: 1px solid #fff;
}

.crearGif__title {
  font-family: "Montserrat", sans-serif;
}

.crearGif__text {
  padding-top: 10px;
  color: #000;
}

body.darkMode .crearGif__text {
  color: #fff;
}

.crearGif .recording_video {
  min-width: 80%;
  min-height: 20rem;
  max-width: 80%;
  max-height: 20rem;
  z-index: 3000;
}

.crearGif .recorded_video {
  width: 100%;
  z-index: 3000;
}

.crearGif .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(87, 46, 229, 0.6);
  color: #fff;
  z-index: 90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crearGif .overlay__status-icon {
  margin: 0.8rem;
}

.crearGif .overlaystatus-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.crearGif .pagination {
  margin: 0 auto;
  width: 75%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.crearGif .pagination .step {
  width: 2rem;
  height: 2rem;
  padding-top: 0.2em;
  margin: 1.5rem 0.5rem 1.5rem 0.5rem;
  border: 1px solid #572ee5;
  border-radius: 50%;
  font-size: 1.2em;
}

body.darkMode .crearGif .pagination .step {
  border: 1px solid #fff;
}

.crearGif .pagination .step-active {
  background-color: #572ee5;
  color: #fff;
}

.crearGif #repeatShot {
  color: #572ee5;
  text-decoration: none;
}

.crearGif #repeatShot:hover {
  border-bottom: 2px solid #50e3c2;
}

.crearGif #repeatShot:active {
  color: #9cafc3;
  border-bottom: hidden;
}

.crearGif .timer {
  width: 25%;
  text-align: right;
  position: absolute;
  top: 79%;
  right: 24%;
}

.crearGif .timer .timer__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.crearGif .overlay__buttons {
  width: 6.8rem;
  padding: 2%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  right: 0;
}

.crearGif .overlay__buttons .btns {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.crearGif .corner {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
}

.crearGif .top--left {
  border-top: 1px solid #50e3c2;
  border-left: 1px solid #50e3c2;
  top: 1.25rem;
  left: 1.25rem;
}

.crearGif .top--right {
  border-top: 1px solid #50e3c2;
  border-right: 1px solid #50e3c2;
  top: 1.25rem;
  right: 1.25rem;
}

.crearGif .bottom--right {
  border-bottom: 1px solid #50e3c2;
  border-right: 1px solid #50e3c2;
  bottom: 1.25rem;
  right: 1.25rem;
}

.crearGif .bottom--left {
  border-bottom: 1px solid #50e3c2;
  border-left: 1px solid #50e3c2;
  bottom: 1.25rem;
  left: 1.25rem;
}

.crearGif .border {
  width: 58%;
  margin: 0 auto;
  border: 2px solid #572ee5;
}

.button {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  border: 1.8px solid #572ee5;
  border-radius: 2rem;
  padding: 1.2rem 1.3rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  color: #572ee5;
  cursor: pointer;
}

.button:hover {
  background-color: #572ee5;
  color: #fff;
}

.hidden {
  display: none;
}

.topContainers {
  padding-top: 5%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

@media screen and (min-width: 400px) {
  .topContainers {
    padding-top: 5%;
  }
}

@media screen and (min-width: 1024px) {
  .topContainers {
    padding-top: 5%;
  }
}

@media screen and (min-width: 1530px) {
  .topContainers {
    padding-top: 5%;
  }
}

* {
  padding: 0;
  border: 0;
}

/*<--------------------- MOVIL --------------------->*/
.trending_gifos {
  width: 100%;
  background-color: #F3F5F8;
  color: #572EE5;
  padding-bottom: 65px;
}

.trending_gifos_texto {
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #572EE5;
  text-align: center;
  width: 100%;
  font-size: 25px;
}

.resultado_imagenes {
  position: relative;
  margin-top: 50px;
  width: 260px;
  height: 200px;
}

.resultado_imagenes img,
.resultado_imagenes_busqueda img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.boton_ver_mas {
  display: none;
  background: url("../img/CTA-ver-mas.svg") no-repeat;
  width: 127px;
  height: 50px;
  margin: 30px 0;
}

.mira {
  font-family: Roboto-Regular;
  font-size: 18px;
  color: var(--color-texto-pie);
  text-align: center;
  line-height: 23px;
  padding-bottom: 30px;
  width: 49%;
  margin: auto;
}

.boton_slider {
  display: none;
}

.resultado_trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-texto-pie);
  background-color: var(--background);
}

.redes_sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.compartir {
  padding-top: 24px;
  font-family: "Roboto";
  font-size: 15px;
  color: var(--color-texto-pie);
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
}

.derechos {
  color: var(--color-texto-pie);
  font-family: "Roboto";
  font-size: 13px;
  letter-spacing: 0;
}

.icono_facebook {
  display: block;
  background: var(--facebook) no-repeat;
  width: 15px;
  height: 20px;
}

.icono_facebook:hover {
  background: var(--facebook-hover) no-repeat;
}

.icono_twitter {
  display: block;
  background: var(--twitter) no-repeat;
  width: 20px;
  height: 20px;
}

.icono_twitter:hover {
  background: var(--twitter-hover) no-repeat;
}

.icono_instagram {
  display: block;
  background: var(--instagram) no-repeat;
  width: 20px;
  height: 20px;
}

.icono_instagram:hover {
  background: var(--instagram-hover) no-repeat;
}

.favoritos,
.icono_fav,
.sin_favoritos,
.texto_sin_favoritos,
.gifos,
.icono_gifos,
.sin_gifos,
.texto_sin_gifos {
  margin-left: auto;
  margin-right: auto;
  color: #572EE5;
}

.icono_fav {
  /*ojo aca*/
  width: 28px;
  height: 21px;
}

.icono_gifos {
  background: url("../img/icon-fav.svg") no-repeat;
  width: 28px;
  height: 21px;
}

.sin_favoritos {
  margin-top: 110px;
  background: url("../img/icon-fav-sin-contenido.svg") no-repeat;
  width: 150px;
  height: 151px;
}

.sin_gifos {
  margin-top: 110px;
  background: var(--sin-gifos) no-repeat;
  width: 150px;
  height: 151px;
}

.texto_sin_gifos,
.texto_sin_favoritos {
  font-family: "Montserrat";
  font-size: 22px;
  color: #50E3C2;
  text-align: center;
  line-height: 33px;
  font-weight: 700;
  width: 70%;
  margin-bottom: 137px;
}

.texto_gifos,
.texto_favoritos {
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.ocultar {
  display: none;
}

.mis_gifos, .mis_favoritos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 420px;
  height: 100%;
  background-color: #F3F5F8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.resultado_imagenes:hover .overlay,
.resultado_imagenes_busqueda:hover .overlay {
  display: block;
  opacity: 0.6;
  background: #572EE5;
}

.resultado_imagenes_busqueda {
  position: relative;
  width: 156px;
  height: 120px;
  margin: 6px;
}

.resultado_imagenes_busqueda {
  width: 260px;
  height: 200px;
  margin: 30px;
}

.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--background);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 632px;
}

.cerrar_modal {
  position: absolute;
  background: url("../img/close.svg") no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  left: 82%;
  top: 10%;
}

.descarga_modal {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 23%;
  top: 40%;
  -webkit-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
  background: url("../img/icon-download.svg") no-repeat;
  background-size: 100%;
  z-index: 2;
  opacity: 1;
}

.imagen_ampliada {
  position: relative;
  width: 318px;
  height: 245px;
  background-size: 100%;
  margin-top: 150px;
}

.usuario_modal {
  color: var(--color-texto-pie);
  z-index: 2;
  position: absolute;
  width: 50%;
  top: 42%;
}

.titulo_modal {
  color: var(--color-texto-pie);
  position: absolute;
  z-index: 2;
  width: 50%;
  top: 45%;
}

#corazon_modal {
  position: absolute;
  z-index: 2;
  opacity: 1;
  top: 40%;
  left: 63%;
  background-size: 100%;
  width: 32px;
  height: 32px;
}

.corazon {
  background: url("../img/icon-fav.svg") no-repeat;
  background-size: 100%;
}

.corazonActivo {
  background: url("../img/icon-fav-active.svg") no-repeat;
  background-size: 100%;
}

/*<--------------------- DISPOSITIVOS INTERMEDIOS --------------------->*/
@media screen and (min-width: 768px) {
  .boton_slider_izquierda,
  .boton_ampliar_izquierda {
    display: block;
    background: url("../img/button-slider-left.svg");
    width: 40px;
    height: 40px;
  }
  .boton_slider_izquierda:hover,
  .boton_ampliar_izquierda:hover {
    background: url("../img/button-slider-left-hover.svg");
  }
  .boton_slider_derecha,
  .boton_ampliar_derecha {
    display: block;
    background: url("../img/Button-Slider-right.svg");
    width: 40px;
    height: 40px;
  }
  .boton_slider_derecha:hover,
  .boton_ampliar_derecha:hover {
    background: url("../img/Button-Slider-right-hover.svg");
  }
  .boton_ver_mas:hover {
    background: url("../img/CTA-ver-mas-hover.svg") no-repeat;
  }
  .resultado_imagenes {
    position: relative;
    margin-top: 50px;
    width: 357px;
    height: 275px;
    margin-right: 12px;
  }
  .resultado_imagenes_busqueda {
    width: 260px;
    height: 200px;
    margin: 30px;
  }
  .pie {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor_gifos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #F3F5F8;
  }
  .compartir {
    padding: 0 10px 0 100px;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F3F5F8;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .imagen_ampliada {
    margin-top: 0;
    width: 695px;
    height: 385px;
  }
  .usuario_modal {
    top: 83%;
    right: 25%;
  }
  .titulo_modal {
    top: 87%;
    right: 25%;
  }
  #corazon_modal {
    top: 83%;
    left: 68%;
  }
  .descarga_modal {
    right: 25%;
    top: 83%;
  }
  /*<--------------------- ESCRITORIO --------------------->*/
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
  }
  .usuario {
    position: absolute;
    width: 96%;
    left: 4%;
    top: 74%;
    font-family: "Roboto";
    font-size: 15px;
    color: #FFFFFF;
    z-index: 1;
    opacity: 0;
    font-weight: 700;
  }
  .titulo {
    position: absolute;
    width: 96%;
    left: 4%;
    top: 85%;
    font-family: "Roboto";
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    z-index: 1;
    opacity: 0;
  }
  .corazon {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 57%;
    top: 5%;
    -webkit-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
    background-size: 100%;
    z-index: 1;
    opacity: 0;
  }
  .descarga {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 71%;
    top: 5%;
    -webkit-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
    background: url("../img/icon-download.svg") no-repeat;
    background-size: 100%;
    z-index: 1;
    opacity: 0;
  }
  .ampliar {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 85%;
    top: 5%;
    -webkit-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
    background: url("../img/icon-max-normal.svg") no-repeat;
    background-size: 100%;
    z-index: 1;
    opacity: 0;
  }
  .link {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 64%;
    top: 25%;
    -webkit-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
    background: var(--link) no-repeat;
    background-size: 100%;
    z-index: 2;
    opacity: 0;
  }
  .resultado_imagenes:hover .titulo,
  .resultado_imagenes:hover .usuario,
  .resultado_imagenes:hover .corazon,
  .resultado_imagenes:hover .ampliar,
  .resultado_imagenes:hover .descarga,
  .resultado_imagenes_busqueda:hover .titulo,
  .resultado_imagenes_busqueda:hover .usuario,
  .resultado_imagenes_busqueda:hover .corazon,
  .resultado_imagenes_busqueda:hover .ampliar,
  .resultado_imagenes_busqueda:hover .descarga {
    opacity: 1;
  }
  .corazon:hover,
  #corazon_modal:hover {
    background: url("../img/icon-fav-hover.svg") no-repeat;
  }
  .descarga:hover,
  #descarga_modal:hover {
    background: url("../img/icon-download-hover.svg") no-repeat;
  }
  .ampliar:hover {
    background: url("../img/icon-max-hover.svg") no-repeat;
  }
  .resultado_imagenes:hover .overlay,
  .resultado_imagenes_busqueda:hover .overlay {
    display: block;
    opacity: 0.6;
    background: #572EE5;
  }
  .link:hover {
    background: var(--link-hover) no-repeat;
  }
}
/*# sourceMappingURL=style.css.map */